html,
body {
  font-size: 16px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.form-wrapper {
  padding: 1rem;
}

form {
  margin-bottom: 5rem;
}

form label {
  display: block;
  padding-bottom: 1rem;
}

form input {
  border-radius: 5px;
}

form input[type='text'] {
  margin-right: 0.5rem;
  padding: 8px;
  border: 1px solid #ccc;
}

form input[type='submit'] {
  padding: 8px;
  background-color: #0747d1;
  color: #fff;
}

.error-message {
  background: lightpink;
  border: 1px solid #f00;
  color: #f00;
  font-size: 0.875rem;
  padding: 1rem;
  margin: 1rem;
}

.mp-wrapper {
  text-align: left;
  max-width: 700px;
  margin: 0 auto;
}

h2,
h3 {
  padding-top: 0;
  margin-top: 0;
}

.mp-wrapper p,
.mp-wrapper ul {
  font-size: 0.875rem;
}

.mp-info-card {
  background-color: #e9e9e9;
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem;
}

.mp-stats {
  display: flex;
  flex-flow: row nowrap;
}

.mp-stats div {
  margin-right: 1rem;
}

.mp-stats div:last-child {
  margin: 0;
}

.mp-stats div:first-child {
  margin-right: 1rem;
}

.mp-stats .mp-stats_info-wrapper {
  width: 45%;
  border-right: 1px solid #999;
}

.mp-stats .mp-stats_contact-wrapper > div {
  border-bottom: 1px solid #999;
  margin-bottom: 1rem;
}

.mp-stats .mp-stats_contact-wrapper div:last-child {
  border: none;
  margin-bottom: 0;
}
